@import "node_modules/bootstrap/scss/bootstrap";

@function gray($key: "100") {
    @return map-get($grays, $key);
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Raleway", "Open Sans", "sans-serif";
    font-weight: 500;
    line-height: 1.1;
}

.kind-summary {
    display: none;

    &.default {
        display: inline;
    }
}

.summary {
    min-height: 150px;
}